<strong>Hello, {{ daliveryman }}</strong>
<p>A new package was registered in your name, more details below:</p>
<p>
  <strong>Recipient: </strong> {{recipient}} <br />
  <strong>Address: </strong> {{recipient_address}} <br />
  <strong>Cep: </strong> {{recipient_cep}} <br />
  <strong>Register date: </strong> {{date}} <br />
  <br />

  <small>Don't forget to inform as soon as the delivery goes off </small>

</p>